<div>
    <div class="exp-pnl pnl">
        <ul class="exp-list">
            <li *ngFor="let item of expenses;index as i;"
                (click)="toggleCat(item.name)"  [ngStyle]="{opacity: excluded[item.name]?  .5 :1}"
                [title]="chartLabels[i]">
                <div class="legend-color"
                     [ngClass]="{checked: excluded[item.name]}"
                     [ngStyle]="{backgroundColor: colors[i]}" >
                </div>
            </li>
        </ul>
        <div class="exp-totals-container">
            <div class="exp_totals">
                <div>
                    {{report.month|date:'MMMM'}}:<br/>
                    <b class="money">{{totals.month|currency:' '}}</b>
                </div>
                <div>
                    Prev:<br/>
                    <b class="money">{{totals.prev|currency:' '}}</b>
                </div>
                <div>
                    Avg:<br/>
                    <b class="money">{{totals.avg|currency:' '}}</b>
                </div>
            </div>
            <canvas baseChart height="320"
                    [colors]="[{backgroundColor:colors},{backgroundColor:colors}, {backgroundColor:colors}]"
                    [data]="chartData"
                    [labels]="chartLabels"
                    [legend]="false"
                    [chartType]="'doughnut'">
            </canvas>
        </div>
    </div>
</div>
