<div>
    <div>
        <div class="exp-totals-container">
            <div class="exp_totals">
                <div>
                    {{report.month|date:'MMMM'}}:<br/>
                    <b class="money">{{totals.month|currency:' '}}</b>
                </div>
                <div>
                    Prev:<br/>
                    <b class="money">{{totals.prev|currency:' '}}</b>
                </div>
                <div>
                    Avg:<br/>
                    <b class="money">{{totals.avg|currency:' '}}</b>
                </div>
            </div>
            <canvas baseChart height="320"
                    [colors]="[{backgroundColor:colors},{backgroundColor:colors}, {backgroundColor:colors}]"
                    [data]="chartData"
                    [labels]="chartLabels"
                    [legend]="false"
                    [chartType]="'doughnut'">
            </canvas>
        </div>

        <ul>
            <li *ngFor="let item of report.expenses|keyvalue"
                (click)="toggleCat(item.key)"  [ngStyle]="{opacity: excluded[item.key]?  .5 :1}"
                [title]="item.key">
                {{item.key}} <b>{{item.value|currency:' '}}</b>
            </li>
        </ul>
    </div>
</div>
