/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
body{
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 18px;
  line-height: 1.1;
  background: #eee;
  margin: 0;
}

.money{
  //font-family: Courier, monospace;
}
.pnl{
  overflow: hidden;
  padding: .5em;
  background: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,.15);
  margin-bottom: 3px;
}
